.blinking-dot-icon {
    background-color: rgb(255, 73, 73);
    border-radius: 50%;
    animation: blink 0.5s infinite alternate;
    /* Blinking animation */
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.world-map-container.dark .leaflet-layer,
.world-map-container.dark .leaflet-control-zoom-in,
.world-map-container.dark .leaflet-control-zoom-out,
.world-map-container.dark .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(205deg) brightness(100%) contrast(100%);
    /* color: #e3e3e370; */
}